* {
	margin: 0;
	padding: 0;
}

#graphs {
	text-align: center;
}

#spectro {
	width: 80%;
	height: 500px;
	border: 1px solid red;
	margin-left: auto;
	margin-right: auto;
}

.chart {
	border: solid black 3px;
	width: 1500px;/*450px;*/
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.chartContainer {
	display: inline;
}


#header {
	padding-left: 30%;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ccc;
}

input {
	height: 30px;
}