* {
	margin: 0;
	padding: 0;
}

#graphs {
	text-align: center;
}

.chart {
	border: solid black 3px;
	width: 450px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.chartContainer {
	display: inline;
}
